@import "tailwindcss";

.perspective {
  perspective: 1000px;
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-0 {
  transform: rotateY(0deg);
}
.rotate-y-90 {
  transform: rotateY(180deg);
}